@charset 'utf-8';

// color
$color-text: #444;
$color-primary: #00a29a;
$color-primary--light: #3dd0c9;
$color-secondary: #b9aa56;
$color-thread: #e2e2e2;


// layout
$width : 980px;

// font size
$fs-ll: 30px;
$fs-l: 21px;
$fs-m: 18px;
$fs-s: 14px;
$fs-xs: 11px;