doctype html
html(lang="ja")
	head
		title pageTitle
		link(rel='stylesheet', href='./assets/css/app.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	body
		include parts/_header.jade
			article.entryContent
				h1 articleTitle
				p ipsum ipsum ipsum ipsum ipsum　ipsum　ipsum　ipsum.
				p ipsum ipsum ipsum ipsum ipsum　ipsum　ipsum　ipsum.
			include parts/_sidebar.jade
		include parts/_footer.jade